@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

// mixin para definir el centrado del cuadro blanco de las targetas - parten de atrás //
@mixin absCenter { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

// mixin para el responsive //

/*
0px - 600px: resolución de teléfono
600px - 900 px: tablet portatil
900px - 1200px: tableta grande
1200px - 1800px: pantallas normales
1800px - en adelante : pantallas de tv
*/

// puntos de responsive de acuerdo a la resolucion //

// las medidas rem y em en la consulta de medios (media query) no cambian, por eso es bueno utilizarlas y sobre todo los em//

// 1 em = 16 px para el primer caso seria //
// 600px / 16 = 37.5  //
// 900px / 16 =  56.25 //
// 1200px / 16 = 75  //
// 1800px / 16 = 112.5  //

@mixin respond($breakpoint) {
    @if $breakpoint == telefono{
        @media (max-width: 37.5em){
            @content
        };
    }

    @if $breakpoint == tablet-portatil{
        @media (max-width: 56.25em){
            @content
        };
    }
    @if $breakpoint == tablet-grande{
        @media (max-width: 75em){
            @content
        };
    }
    @if $breakpoint == pantalla-tv{
        @media (min-width: 112.5em){
            @content
        };
    }
    
}

