// Colores //
$color-primary:#55c57a;
$color-primary-light:#796fd58a;
$color-primary-dark:#1A43FE;

//colores mios porque le cambie el color principal a la pagina xd//
$color-quaternary-light: #7ed56f;
$color-quaternary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-secondary-dark-2: #FF0800;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark:#777;
$color-grey-dark-2: #999;
$color-grey-dark-3:#333;

$color-white:#fff;
$color-black:#000;

//fuentes//

$default-font-size:1.6rem;

//grid - medidas //

$grid-whidth: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;